<div class="sidebar-widget m-none">
	<div class="widget-header clearfix">
		<h6 class="title pull-left mt-xs">Galeries</h6>
		<div class="pull-right">
			<a href="#modalForm" class="modal-with-zoom-anim btn btn-dark btn-sm btn-widget-act">Ajouter une galerie</a>

			<!-- Modal Form -->
			<div id="modalForm" class="zoom-anim-dialog modal-block modal-header-color modal-block-primary mfp-hide">
				<section class="panel">
					<header class="panel-heading">
						<h2 class="panel-title">Ajouter une galerie</h2>
					</header>
					<div class="panel-body">
						<form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
							<div class="form-group mt-lg">
								<label class="col-sm-3 control-label">Nom</label>
								<div class="col-sm-9">
									<input type="text" name="name" class="form-control" placeholder="Entrez un nom..." required/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">url</label>
								<div class="col-sm-9">
									<input type="url" name="url" class="form-control" placeholder="url de la galerie..." />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Description</label>
								<div class="col-sm-9">
									<textarea rows="5" class="form-control" placeholder="Insérer une description..." required></textarea>
								</div>
							</div>
						</form>
					</div>
					<footer class="panel-footer">
						<div class="row">
							<div class="col-md-12 text-right">
								<button class="btn btn-primary modal-confirm">Créer</button>
								<button class="btn btn-default modal-dismiss">Annuler</button>
							</div>
						</div>
					</footer>
				</section>
			</div>

		</div>
	</div>
	<div class="widget-content">
		<ul class="mg-folders">

			{% for gallery in galleries %}

				{% if gallery.slug == 'non-classe' %}

					<li>
						<a href="{{ path('mgn_admin_media', {'gallery': gallery.slug}) }}" class="menu-item{% if gallerySelect == gallery.slug %} text-primary{% endif %}">{% if gallerySelect == gallery.slug %}<i class="fa fa-folder-open"></i>{% else %}<i class="fa fa-folder"></i>{% endif %} {{ gallery.name }}</a>
					</li>

				{% endif %}

			{% endfor %}

			{% for gallery in galleries %}

				{% if gallery.slug != 'non-classe' %}

					<li>
						<a href="{{ path('mgn_admin_media', {'gallery': gallery.slug}) }}" class="menu-item{% if gallerySelect == gallery.slug %} text-primary{% endif %}">{% if gallerySelect == gallery.slug %}<i class="fa fa-folder-open"></i>{% else %}<i class="fa fa-folder"></i>{% endif %} {{ gallery.name }}</a>

						{% if gallery.system == false %}

							<div class="item-options">
								<a href="#">
									<i class="fa fa-edit"></i>
								</a>
								<a href="#" class="text-danger">
									<i class="fa fa-times"></i>
								</a>
							</div>

						{% endif %}

					</li>

				{% endif %}

			{% endfor %}

		</ul>
	</div>
</div>