<section id="article-title" class="panel">

	<div class="panel-body" style="background-color: #f6f6f6;">

		<h1 style="color: #ff6c5f; font-weight: bold; padding-bottom: 0px;">{{ article.title }} <img id="loaderarticle-title" class="loader" src="{{ asset('admin/img/ajax-loader.gif') }}" title="" /></h1>

		<p><a href="{{ path('mgn_admin_article_edit_title', {'article': article.id, 'action': 'edit'}) }}" class="pull-right text-info content-edit"><small>Editer</small></a></p>

	</div>

</section>