<div class="sidebar-widget m-none">

	<div class="widget-header clearfix">

		<h6 class="title pull-left mt-xs">Sécurité</h6>

	</div>

	<div class="widget-content">

		<ul class="mg-folders">

			<li>
                <a href="{{ path('mgn_core_admin_editor_users', {'theme': theme.id, 'file': 'usersLogin'}) }}" class="menu-item{% if file == 'usersLogin' %} active{% endif %}">Login</a>
            </li>

		</ul>

	</div>

</div>